<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_remote">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher">

        <activity android:name="com.example.flutter_remote.MainActivity"
            android:exported="true">
            <!-- Si tienes filtros de intención, deben ir aquí -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Otras actividades, servicios, etc. -->

    </application>

</manifest>
